[submodule "dependencies/torchreid"]
	path = dependencies/torchreid
	url = https://github.com/KaiyangZhou/deep-person-reid.git
	branch = master
[submodule "PoseTrack21"]
	path = dependencies/PoseTrack21
	url = https://github.com/anDoer/PoseTrack21.git
	branch = main
[submodule "dependencies/DanceTrack"]
	path = dependencies/DanceTrack
	url = https://github.com/bmmtstb/DanceTrack.git
[submodule "dependencies/poseval"]
	path = dependencies/poseval
	url = https://github.com/bmmtstb/poseval.git
