[submodule "dependencies/torchreid"]
	path = dependencies/torchreid
	url = https://github.com/KaiyangZhou/deep-person-reid.git
	branch = master
[submodule "PoseTrack21"]
	path = dependencies/PoseTrack21
	url = https://github.com/anDoer/PoseTrack21.git
	branch = main
[submodule "py-lapsolver"]
	path = py-lapsolver
	url = https://github.com/cheind/py-lapsolver
[submodule "dependencies/py-lapsolver"]
	path = dependencies/py-lapsolver
	url = https://github.com/cheind/py-lapsolver
[submodule "dependencies/DanceTrack"]
	path = dependencies/DanceTrack
	url = git@github.com:DanceTrack/DanceTrack
