# ####################### #
# Created for Python 3.10 #
# ####################### #

# ############################ #
#     install torch with       #
# specific cuda or cpu version #
# ############################ #

# --extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.*
torchvision==0.18.*
torchaudio==2.3.*

# ######################## #
# regular pip dependencies #
# ######################## #
av
black
coverage[toml]
gdown
imagesize
matplotlib
numpy==1.*
opencv-python
Pillow
pylint
pyyaml==6.0.*
scipy==1.14.*
sphinx  # sphinx is used to build the docs
sphinxcontrib.datatemplates
tb-nightly  # use tb nightly, due to torchreid installing it and it being incompatible with the regular tensorboard
tqdm
wheel

# ################## #
# local dependencies #
# ################## #

# Torchreid - install requirements later manually run the setup torchreid and cythonize
# somehow installing requirements does not work just by calling setup
-r ./dependencies/torchreid/requirements.txt
# install PoseTrack21 evaluation toolkit
-e ./dependencies/PoseTrack21/eval/posetrack21/
git+https://github.com/svenkreiss/poseval
