# ####################### #
# Created for Python 3.10 #
# ####################### #

# ############################ #
#     install torch with       #
# specific cuda or cpu version #
# ############################ #

# --index-url can be used here, because this requirements file should only be installed line-by-line!
# --index-url https://download.pytorch.org/whl/cpu torch==2.2.*
# --index-url https://download.pytorch.org/whl/cpu torchvision==0.17.*
# --index-url https://download.pytorch.org/whl/cpu  torchaudio==2.2.*
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.*
torchvision==0.18.*
torchaudio==2.3.*

# ######################## #
# regular pip dependencies #
# ######################## #
av
black
coverage[toml]
imagesize
lapsolver
matplotlib
munkres  # munkres is a package for the hungarian (matching) algorithm
numpy
opencv-python
Pillow
pylint
pyyaml==6.0.*
scipy
sphinx  # sphinx is used to build the docs
sphinxcontrib.datatemplates
tb-nightly  # use tb nightly, due to torchreid installing it and it being incompatible with the regular tensorboard
tqdm

# ################## #
# local dependencies #
# ################## #

# Torchreid - install requirements and Set up torchreid and cythonize
# somehow installing requirements does not work just by calling setup
#-e dependencies/torchreid/
# install PoseTrack21 evaluation toolkit
# fixme is this still required ?
-e dependencies/PoseTrack21/eval/posetrack21/
git+https://github.com/svenkreiss/poseval
