av # for FFmpeg libraries and loading videos
black
coverage[toml]
easydict
imagesize
matplotlib
munkres
natsort
numpy
opencv-python
pylint
pyyaml
scipy
terminaltables
tqdm
visdom

# torch cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.*
torchvision==0.16.*