av # for FFmpeg libraries and loading videos
black
cython
coverage[toml]
easydict
gdown
imagesize
matplotlib
munkres
natsort
numpy
opencv-python
pylint
pyyaml
scipy
tensorboard
terminaltables
torchreid
tqdm
visdom

# -r ../dependencies/torchreid/requirements.txt
# -e ./dependencies/torchreid

# torch cpu
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.*
torchvision==0.16.*