# ######################## #
# regular pip dependencies #
# ######################## #

# av is for FFmpeg libraries and loading videos
av
coverage[toml]
easydict
imagesize
matplotlib
numpy
pyyaml
sphinx
sphinxcontrib.datatemplates
tb-nightly
terminaltables
tqdm

# ############################# #
# torch cpu as extra dependency #
# ############################# #

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.*
torchvision==0.18.*
